<%- include('header') -%>

<section class="portfolio">
    <div class="aboutus-title">
        <h1>OUR TEAM</h1>
    </div>

    <figure class="port-item">
        <img src="/assets/lion.jpg" alt="portfolio item" >
        <figcaption class="port-desc">
            <a href="" class="button button-accent button-small">Varun Varadarajan</a>
        </figcaption>
    </figure>

    <figure class="port-item">
        <img src="/assets/panda.jpg" alt="team">
        <figcaption class="port-desc">
            <a href="" class="button button-accent button-small">Justin Guo</a>
        </figcaption>
    </figure>

    <figure class="port-item">
        <img src="/assets/penguins.jpg" alt="team">
        <figcaption class="port-desc">
            <a href="" class="button button-accent button-small">Alisha Fariz</a>
        </figcaption>
    </figure>

    <figure class="port-item">
        <img src="/assets/racoon.jpg" alt="team">
        <figcaption class="port-desc">
            <a href="" class="button button-accent button-small">Max Wang</a>
        </figcaption>
    </figure>

    <figure class="port-item">
        <img src="/assets/bunny.jpg" alt="portfolio item" >
        <figcaption class="port-desc">
            <a href="" class="button button-accent button-small">Ugo Obadiah</a>
        </figcaption>
    </figure>

    <figure class="port-item">
        <img src="/assets/fox.jpg" alt="portfolio item" >
        <figcaption class="port-desc">
            <a href="" class="button button-accent button-small">Elias Fariz</a>
        </figcaption>
    </figure>

</section>

<%- include('footer') -%>