<%- include('header') -%>

<section>
    <div class="container aboutus-title">
        <h1>About Gaming IRL</h1>
    </div>

    <div class="container aboutus-desc">
        <div class="aboutus-desc-text">
            <h3>The Beginnings</h3>
            <p>
                As a program, Gaming IRL is designed to help students learn the fundamental soft skills needed to traverse the workplace with ease through 
                popular team-based video games such as League of Legends and Rocket League. Students get teh opportunity to be coached not just in gameplay 
                but also in skills like communication, teamwork, and leadership. 
                Originally a brain child of our founder, Alisha Fariz, the program took off as it caught the attention of the local university (UNCW) and
                ran its first pilot during the summer of 2021.
            </p>
        </div>
    </div>
</section>

<%- include('footer') -%>