<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Gaming Irl</title>
        <link rel="stylesheet" href="/static/log-in-style.css" type="text/css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    </head>
    
<body>
        
    <header>
        <a href="/"><img src="/assets/girl.jpg" alt="GIRL Logo" class="logo"></a>
    </header>

    <div class="text-center center-div" id="login">
        <div class="container w-25 border py-5 white">

            <div class="title pb-5 title-close">
                <h2 class="font-weight-bold">Email Sent!</h2>
                <p>Please check your email or spam</p>
                <a href="/sendemail">Try Again</a>
            </div>

        </div>
    </div>

</body>


</html>