<footer>
    <div class="containter">
    <div class="col-3">
        <h2><Strong>Gaming IRL</Strong></h2>
        <p>Teaching Soft Skills through Video Games</p>
    </div>
    
    <div class="col-1">
        <ul class="unstyled-list">
            <li><strong>Explore</strong></li>
            <li><a href="/">Home</a></li>
            <li><a href="/aboutus">About Us</a></li>
            <li><a href="/softskills">Soft Skills</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>

    <div class="col-3">
        <ul class="unstyled-list">
            <li><strong>Visit Us</strong></li>
            <li>Isaac Bear Early College High School</li>
            <li>630 MacMillan Avenue</li>
            <li>Wilmington, NC, USA 28403</li>
        </ul>
    </div>

    <div class="col-1">
        <ul class="unstyled-list">
            <li><strong>Follow</strong></li>
            <li><a href="">Instagram</a></li>
            <li><a href="">Discord</a></li>
            <li><a href="">Facebook</a></li>
        </ul>
    </div>
    </div>

</footer>

</body>




</html>