<%- include('header') -%>

<section class="home-hero">
    <div class="container">
    <h1 class="title">Learning Soft Skills
        <span>through video games</span>
    </h1>
    <a href="/softskills" class="button button-accent">More about soft skills</a>
    </div> 
</section>

<section class="home-about">

    <div class="home-abt-textbox">
        <h1>Who we are</h1>
        <p>We are a non-profit seeking to assist and supplement schools that cannot keep up with the constant changing times. Our purpose is to provide students with the necessary first-hand experience that is required to develop and perfect their soft skills.</p> 
        <a href="/aboutus" class="button button-accent">Learn more about us!</a>
    </div>

</section>

<section class="Registration">
    <h1>Current Programs</h1>
    <p>
        With a partnership with UNCW, Gaming IRL will be hosting a 2-week virtual summer program from June 1 to June 11.
    </p>
    <p>
        <strong>Register 
            <a href="https://forms.gle/UMFXHayJWv1rbbrt9">Here!</a>
        </strong>
    </p>
    <img src="/assets/flyer.jpg" alt="flyer">
</section>

<%- include('footer') -%>