<%- include('header') -%>

<section class="skills">
    <div class="">
        <h1>Soft Skills</h1>
    </div>

    <span>
        <ul style="list-style-type: none; display: inline-block;">
            <li><strong>Week 1</strong></li>
            <li><a href="">Positive Mentality</a></li>
            <li><a href="">Problem Solving/Critical Thinking</a></li>
            <li><a href="">Communication/Active Listening</a></li>
            <li><a href="">Teamwork/Collaboration</a></li>
            <li><a href="">Sportsmanship/Flexibility</a></li>
        </ul>

        <ul style="list-style-type: none; display: inline-block;">
            <li><strong>Week 2</strong></li>
            <li><a href="">Empathy</a></li>
            <li><a href="">Leadership</a></li>
            <li><a href="">Self-Confidence</a></li>
            <li><a href="">Time Management</a></li>
            <li>-</li>
        </ul>
    </span>


</section>

<%- include('footer') -%>